body{
margin:0;
background:#050505;
font-family:Arial;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#0d0d0d;
position:sticky;
top:0;
}

.logo{
font-size:25px;
font-weight:bold;
color:#ffee00;
}

input{
width:300px;
padding:12px;
border-radius:10px;
border:none;
background:#1a1a1a;
color:white;
}

button{
background:#ffee00;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(to right,#000000,#111100);
}

.hero h1{
font-size:70px;
color:#ffee00;
}

.categorias{
padding:40px;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#111;
width:220px;
height:250px;
border-radius:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:30px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
background:#1d1d1d;
}